doctype html
//
  Miniport by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Abhinav Mishra | Awards
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    // Nav
    nav#nav
      ul.container
        li
          a(href='index.html') Go Back
    // Home
    .wrapper.style1.second
      article#top.container
        .row
          .12u(class='12u(mobile)')
            header
              h1
                strong Honours and Awards
              ul
                li Coming Soon.
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/skel-viewport.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
