doctype html
//
  Miniport by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Abhinav Mishra
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    // Nav
    nav#nav
      ul.container
        li
          a(href='#top') Top
        li
          a(href='#profile') Profile
        li
          a(href='#projects') Projects
        li
          a(href='#contact') Contact Me
    // Home
    .wrapper.style1.first
      article#top.container
        .row
          .4u(class='12u(mobile)')
            span.image.fit
              img(src='images/avatar.jpg', alt='')
          .8u(class='12u(mobile)')
            header
              h1
                | Hi. I'm 
                strong Abhinav Mishra
                | .
            p
              | First Year Computing Student at 
              strong Imperial College London. 
            a.button.big.scrolly(href='assets/pdf/Resume.pdf') Download Resume
    // Work
    .wrapper.style2
      article#profile
        header
          h2 A little bit about me..
        .container
          .row
            .4u(class='12u(mobile)')
              section.box.style1
                span.image.fit
                  img(src='images/imperial.png', alt='Imperial College London')
                h3 Imperial College London
                p
                  | Bachelor of Engineering - Computing
            .4u(class='12u(mobile)')
              section.box.style1
                span.image.fit
                  img(src='images/khaitan.png', alt='The Khaitan School')
                h3 The Khaitan School
                p
                  | Class of 2015
            .4u(class='12u(mobile)')
              section.box.style1
                span.image.fit
                  img(src='images/awards.png', alt='Honours & Awards')
                h3 Honours & Awards
                p
                  | Coming Soon
    //    footer
    //      p Lorem ipsum dolor sit sapien vestibulum ipsum primis?
    //      a.button.big.scrolly(href='#portfolio') See some of my recent work
    // Portfolio
    .wrapper.style3
      article#projects
        header
          h2 Here’s some stuff I have made.
        h3 Current Projects
        .container
          .row
            .4u(class='12u(mobile)')
              article.box.style2
                a.image.featured(href='https://github.com/mishrabhinav/docsoc-events')
                  img(src='images/events.png', alt='')
                h3
                  a(href='https://github.com/mishrabhinav/docsoc-events') DoCSoc Events
                p
                  | Manage events easily.
        h3 Past Projects
        .container
          .row
            .4u(class='12u(mobile)')
              article.box.style2
                a.image.featured(href='http://topics.mishrabhinav.com')
                  img(src='images/reasoning.png', alt='')
                h3
                  a(href='http://topics.mishrabhinav.com') Reasoning about Knowledge and Change
            .4u(class='12u(mobile)')
              article.box.style2
                a.image.featured(href='https://github.com/SomeRandomTeam/hacklondon2016_android')
                  img(src='images/overwatch.png', alt='')
                h3
                  a(href='https://github.com/SomeRandomTeam/hacklondon2016_android') Overwatch
                p
                  | Tracking made easy.
            .4u(class='12u(mobile)')
              article.box.style2
                a.image.featured(href='https://github.com/SomeRandomTeam/ichack2016_unity')
                  img(src='images/desky.png', alt='')
                h3
                  a(href='https://github.com/SomeRandomTeam/ichack2016_unity') Desky
                p
                  | Cheap external display.
          .row
            .4u(class='12u(mobile)')
              article.box.style2
                a.image.featured(href='https://github.com/SomeRandomTeam/hackatbrookes2016')
                  img(src='images/ageof.png', alt='')
                h3
                  a(href='https://github.com/SomeRandomTeam/hackatbrookes2016') Age of Imperial
                p
                  | Multiplayer strategy based game.
            .4u(class='12u(mobile)')
              article.box.style2
                a.image.featured(href='https://github.com/mishrabhinav/javachess-pawnrace')
                  img(src='images/pawn.png', alt='')
                h3
                  a(href='https://github.com/mishrabhinav/javachess-pawnrace') Pawn Race
                p
                  | Classic pawn racing in Java.
            .4u(class='12u(mobile)')
              article.box.style2
                a.image.featured(href='https://github.com/SomeRandomTeam/hackkings2015')
                  img(src='images/mymos.jpg', alt='')
                h3
                  a(href='https://github.com/SomeRandomTeam/hackkings2015') Mymos
                p
                  | Dynamic and Encrypted Messenger.
          .row
            .4u(class='12u(mobile)')
              article.box.style2
                a.image.featured(href='#')
                  img(src='images/voyage.jpg', alt='')
                h3
                  a(href='#') Voyage
                p
                  | Web Browser for Android.
    // Contact
    .wrapper.style4
      article#contact.container(class='75%')
        header
          h2 Have me make stuff for you.
          a(href='mailto:abhinav.mishra15@imperial.ac.uk') abhinav.mishra15@imperial.ac.uk
          div
          .row
          .row
            .12u
              hr
              h3 Find me on ...
              ul.social
                li
                  a.icon.fa-facebook(href='https://www.facebook.com/mishrabhinav')
                    span.label Facebook
                li
                  a.icon.fa-instagram(href='https://www.instagram.com/abhinavvmishra/')
                    span.label Instagram
                li
                  a.icon.fa-linkedin(href='https://uk.linkedin.com/in/abhinav-mishra-114aa9b3')
                    span.label LinkedIn
                li
                  a.icon.fa-github(href='https://github.com/mishrabhinav')
                    span.label Github
                hr
        footer
          ul#copyright
            li © Abhinav Mishra. All rights reserved.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/skel-viewport.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
